/**
 * Blogger Archive with Pagination - Elegant Black Theme
 * Visit: http://www.dte.web.id
 */

#toc-outer {
  font:normal 11px/12px Arial,Sans-Serif;
  color:#999;
  text-align:left;
  text-shadow:none;
  background-color:#333;
  overflow:hidden;
  -webkit-box-shadow:0px 1px 2px rgba(0,0,0,0.7);
  -moz-box-shadow:0px 1px 2px rgba(0,0,0,0.7);
  box-shadow:0px 1px 2px rgba(0,0,0,0.7);
}

#toc-outer a {border:none;color:#3582D0;}

#loadingscript {
  padding:0px 0px;
  height:37px;
  text-indent:-9999px;
  color:transparent;
  background:transparent url('data:image/gif;base64,R0lGODlhKwALAPEAAP///2aZzLPM5WaZzCH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAKwALAAACMoSOCMuW2diD88UKG95W88uF4DaGWFmhZid93pq+pwxnLUnXh8ou+sSz+T64oCAyTBUAACH5BAkKAAAALAAAAAArAAsAAAI9xI4IyyAPYWOxmoTHrHzzmGHe94xkmJifyqFKQ0pwLLgHa82xrekkDrIBZRQab1jyfY7KTtPimixiUsevAAAh+QQJCgAAACwAAAAAKwALAAACPYSOCMswD2FjqZpqW9xv4g8KE7d54XmMpNSgqLoOpgvC60xjNonnyc7p+VKamKw1zDCMR8rp8pksYlKorgAAIfkECQoAAAAsAAAAACsACwAAAkCEjgjLltnYmJS6Bxt+sfq5ZUyoNJ9HHlEqdCfFrqn7DrE2m7Wdj/2y45FkQ13t5itKdshFExC8YCLOEBX6AhQAADsAAAAAAAAAAAA=') no-repeat 50% 50%;
  height:200px;
}

.itemposts, #itempager {
  overflow:hidden;
  padding:0px 10px 7px;
  color:#bbb;
  text-shadow:0 1px 1px rgba(0,0,0,0.3);
  border-top:1px solid #444;
  border-bottom:1px solid #222;
  background-color:#333;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c3c3c', endColorstr='#333333');
  background-image:-webkit-linear-gradient(#3c3c3c, #333);
  background-image:-moz-linear-gradient(#3c3c3c, #333);
  background-image:-o-linear-gradient(#3c3c3c, #333);
  background-image:linear-gradient(#3c3c3c, #333);
}

.itemposts h6 {
  margin:0px 0px 0px;
  padding:0px 2px 0px;
  font:bold 11px/28px 'Verdana',Arial,Sans-serif;
  line-height:28px !important;
  height:28px;
  overflow:hidden;
  color:#ccc;
  text-transform:none;
  text-shadow:0px 1px 0px black;
  border-bottom:1px solid #222;
}

.itemposts h6 a {
  color:#ccc !important;
  text-decoration:none;
}

.itemposts img {
  float:left;
  height:72px;
  width:72px;
  margin:2px 10px 2px 0px;
  padding:0px 0px;
  background:transparent;
  border:3px double #3c3c3c;
  padding:0px;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  outline:none;
}

.itemposts .iteminside {
  padding:10px 0px 10px;
  border-top:1px solid #444;
  border-bottom:1px solid #222;
  overflow:hidden;
}

.itemposts .itemfoot {
  clear:both;
  padding:5px 10px;
  color:#666;
  border-top:1px solid #444;
  overflow:hidden;
  position:relative;
}

.itemposts .itemfoot a.itemrmore {
  font-weight:bold;
  color:#3B5998;
  text-decoration:none;
  position:absolute;
  top:5px;
  right:10px;
}

.itemposts .itemfoot a.itemrmore:hover {
  text-decoration:underline;
  border-color:transparent;
}

#itempager {
  padding:20px 0px;
}

#pagination, #totalposts {
  text-align:left;
  color:#666;
  margin:0px 15px 10px;
}

#pagination span, #pagination a {
  display:inline;
  text-indent:0px;
  font-weight:bold;
  text-decoration:none;
  margin:0px 3px;
}

#pagination a:hover,
#pagination span.actual {
  text-decoration:underline;
}

#pagination span.hidden {
  display:none;
}